/* Stijl voor de header en de footer */
header {
    background-color: #5b3a29;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}

footer {
    background-color: #a3948f;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}


/* Stijl voor titel, menubalk en content */
h1 {
    color: white;
    text-align: center; 
    padding-top: 10px; 
    padding-bottom: 10px;
    margin: 0;
}

#content {
    margin-top: 20px; 
    padding: 10px;
    display: flex;
    align-items: center;

}

/* Stijl voor de navigatiebalk en -knoppen */
nav {
    text-align: center; 
    background-color: #a3948f; 
    padding: 10px; 
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 10px 20px; 
    margin-right: 10px; 
    display: inline-block; 
    border-radius: 5px; 
}
  
nav a:hover {
    background-color: #948787; 
}

/* Stijl voor tabelopmaak */
table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #000000;
    margin-left: 10px;
    margin-right: 10px;
}

#content {
    margin-top: 20px;
}

/* Stijl voor body en horizontale plaatsing op de pagina*/
body {
    background-color: #ebe4e1;
    margin-left: 5px;
    margin-right: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}